/* imports */
@font-face {
  font-family: 'auboistournant';
  src: url('../font/auboistournant.eot?52386046');
  src: url('../font/auboistournant.eot?52386046#iefix') format('embedded-opentype'),
       url('../font/auboistournant.woff2?52386046') format('woff2'),
       url('../font/auboistournant.woff?52386046') format('woff'),
       url('../font/auboistournant.ttf?52386046') format('truetype'),
       url('../font/auboistournant.svg?52386046#auboistournant') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* BASES */
html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: Bodoni, Helvetica Neue, Helvetica, sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased; /* lissage des caractères */
    -moz-osx-font-smoothing: grayscale; /* pour eviter la pixelisation  */
    margin: auto;
    max-width: 1200px;
}

/*-- titres et textes */
h1, .h1-like {
  font-family: Garamond, Helvetica Neue, Helvetica, sans-serif;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

/*-- liens */
a {
   color: inherit;
   text-decoration: none;
 }

 a:hover {text-decoration: underline!important;}

/* AGENCEMENT */
  /* spacing helpers
  p,m = padding,margin
  a,t,r,b,l = all,top,right,bottom,left
  s,m,l,n = small, medium, large, none
  */
.tc {text-align: center;}
.padded {padding: .8rem;}

.display-ib {display: inline-block;}

/* MODULES */
/* ------------------------------------------------------- */
/*-- menu burger */
#hamnav {
  background: #000;
}
  #hamburger { display: none; }

  #hamnav label {
    font-size: 2rem;
    padding: 0.5rem;
  }

    #hamnav label:hover {
      cursor: pointer;
      background: #fff;
      color: #000;
    }

/* menu vertical */
#hamitems {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
}

  #hamitems a {
    box-sizing: border-box;
    padding: 0.5rem;

  }

    #hamitems a:hover {
      background: #fff;
      color: #000;
    }

  /* gestion ouverture/fermeture du burger */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: grid; }

/* breakpoint */
@media (min-width: 576px) {

  /* menu horizontal */
  #hamnav label {display: none;}
  #hamitems {
    display: grid!important;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 10px;
    text-align: center;
  }

}

/* ------------------------------------------------------- */

/*-- media */
img, video, audio {max-width: 100%;} /*pour eviter que les medias dépassent de la page*/



/* THEME */

/*-- header */
body > header {
  background-color: #000;
  color: #fff;
  position: sticky;
  top: 0;
}

  header > section {
    display: grid;
    grid-template-columns: auto 60%;
    gap: 5px
  }

@media (min-width: 576px) {
  header > section {
    display: block;
  }
}

.social-media {color: pink!important;}

.tuile-accueil aside {
  position: relative;
}
  .tuile-accueil aside .logo {
    position: absolute;
    right: 0;
  }

/*-- footer */
body > footer {
  background-color: #000;
  color: #737373;
}

/* ICONES */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "auboistournant";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-basket-alt:before { content: '\e800'; } /* '' */
.icon-up-circle:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
