/* imports */

html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: Josefin Sans, Arial, Helvetica Neue,Helvetica,sans-serif;
}

/* BASES */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased; /* lissage des caractères */
    -moz-osx-font-smoothing: grayscale; /* pour eviter la pixelisation  */
    margin: 0;
}

/*-- titres et textes */
h1, .h1-like {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

/*-- liens */
a {
   color: inherit;
   text-decoration: none;
 }

 a:hover {text-decoration: underline!important;}

/* AGENCEMENT */
  /* spacing helpers
  p,m = padding,margin
  a,t,r,b,l = all,top,right,bottom,left
  s,m,l,n = small, medium, large, none
  */
.tc {text-align: center;}
.padded {padding: .8rem;}

.display-ib {display: inline-block;}

/* MODULES */
/* ------------------------------------------------------- */
/*-- menu burger */
#hamnav {
  background: #000;
}
  #hamburger { display: none; }

  #hamnav label {
    font-size: 2rem;
    padding: 0.5rem;
  }

    #hamnav label:hover {
      cursor: pointer;
      background: #fff;
      color: #000;
    }

/* VERTICAL MENU */
#hamitems {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
}

  #hamitems a {
    box-sizing: border-box;

  }

    #hamitems a:hover {
      background: #fff;
      color: #000;
    }

/* TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: grid; }

@media (min-width: 576px) {
  #hamnav label {display: none;}
  #hamitems {
    display: grid!important;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 10px;
  }

}

/* ------------------------------------------------------- */

/*-- media */
img, video, audio {max-width: 100%;} /*pour eviter que les medias dépassent de la page*/

/* THEME */

/*-- header */
body > header {
  color: #fff;
  position: sticky;
  top: 0;
}

  header > section {
    display: grid;
    grid-template-columns: auto 15%;
    gap: 5px
  }

.social-media {color: pink!important;}

/*-- footer */
body > footer {
  background-color: #000;
  color: #737373;
}
